<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/CSS/stylesheet.css">
	<script type="text/javascript" src="/scripts.js"> </script>
  <title>TreeCo</title>
</head>

<body>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/listings">Listings</a></li>
    <li style="float:right"><a href="/cart">Cart</a></li>
    <li style="float:right"><a href="/login">Login</a></li>
  </ul>

  <div class="w3-container w3-red">
    <h1>Listings</h1>
  </div>

  <div class="w3-container search-container" >
    <div class="search-field">
      <div class="w3-container">
        <label>Name<br/><input type="text" id="searchfield"> </label>
      </div>

      <div class="w3-container button-align">
        <input name="submit" type="button" onClick="search(searchfield.value, category.value, growthrate.value, pricemin.value, pricemax.value, heightmin.value, heightmax.value)" value="Search">
        <input name="submit" type="button" onClick="clearsearch()" value="Clear">
      </div>
    </div>

    <div class="search-field">
      <div class="w3-container">
        <label>Category<br/></label>
        <select name="category" id="category">
          <option value="">All</option>
          <option value="Fruit Tree">Fruit Tree</option>
          <option value="House Plant">House Plant</option>
          <option value="Hedges">Hedge</option>
          <option value="NZ Native">NZ Native</option>
          <option value="Evergreen">Evergreen</option>
          <option value="Palm Tree">Palm Tree</option>
        </select>
      </div>

      <div class="w3-container">
        <label>Growth Rate<br/></label>
        <select name="growthrate" id="growthrate">
          <option value="">All</option>
          <option value="Slow">Slow</option>
          <option value="Medium">Medium</option>
          <option value="Fast">Fast</option>
        </select>
      </div>
    </div>

    <div class="search-field">
      <div class="w3-container">
        <label>Price<br/></label>
        <input type="number" step="0.1" min="0" max="1000" value="0" id="pricemin">
        <input type="number" step="0.1" min="0" max="1000" value="1000" id="pricemax">
      </div>

      <div class="w3-container">
        <label>Height<br/></label>
        <input type="number" step="0.1" min="0" max="4000" value="0" id="heightmin">
        <input type="number" step="0.1" min="0" max="4000" value="4000" id="heightmax">
      </div>
    </div>
  </div>


  <div class="w3-container tree-list">
    <% products.forEach(function(product){ %>
      <div class="tree-item">
        <a href="/tree?id=<%= product.product_id %>">
          <img src="/treeimages/<%= product.product_id %>.jpg" class="treeImage">
          <br/>
          <%= product.product_name %> ($<%= product.price %>)
        </a>
      </div>
    <% }) %>
  </div>

  <div class="w3-container w3-red">

  </div>

  <div class="footer">
    <ul class="footer-ul">
      <li class="footer-li"><a href="/info/locations.html">Locations</a></li>
      <li class="footer-li"><a href="/info/treeinformation.html">Tree Information</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-li"><a class="footer-a" href="/info/contact.html">Contact Info</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-li"><a class="footer-a" href="/info/delivery.html">Delivery</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-li"><a class="footer-a" href="/info/about.html">About</a></li>
    </ul>
  </div>

</body>

</html>
