<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/CSS/stylesheet.css">
	<script type="text/javascript" src="/scripts.js"> </script>
  <title>TreeCo</title>
</head>

<body>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/listings">Listings</a></li>
    <li style="float:right"><a href="/cart">Cart</a></li>
    <li style="float:right"><a href="/login">Login</a></li>
  </ul>

  <div class="w3-container w3-red">
    <h1>Listings</h1>
  </div>

  <div class="w3-container">
    <label><input type="text" id="searchfield"> </label>
    <input name="submit" type="button" onClick="search(searchfield.value)" value="Search">
    <input name="submit" type="button" onClick="clearsearch()" value="Clear">
  </div>

  <div class="w3-container">
    <table style="width:100%" align="center">
      <% products.forEach(function(product){ %>
        <tr>
          <td>
            <a href="/tree?id=<%= product.product_id %>">
              <%= product.product_name %>
              <br/>
                <img src="/treeimages/<%= product.product_id %>.jpg" class="treeImage">
            </a>
          </td>
        </tr>
      <% }) %>
      <!-- <tr>
        <td><a href="/tree?id=2">Mandarin Burgess Scarlet</a><br><img src="/treeimages/Mandarin_Burgess_Scarlet.jpg"></td>
        <td><a href="/tree?id=12">Grapefruit</a></td>
        <td><a href="/tree?id=22">Violet Wrapped</a></td>
      </tr>
      <tr>
        <td><a href="/tree?id=32">Aloe Vera</a></td>
        <td><a href="/tree?id=42">Griselinia Broadway Mint</a></td>
        <td><a href="/tree?id=52">Eugenia Ventaii</a></td>
      </tr>
      <tr>
        <td><a href="/tree?id=62">Leptospermum Copper Sheen</a></td>
        <td><a href="/tree?id=72">McGregor's NZ Native Tree Fuch</a></td>
        <td><a href="/tree?id=82">Camellia Cornish Snow - White</a></td>
      </tr>
      <tr>
        <td><a href="/tree?id=92">ALNUS jorullensis - Semi-Everg</a></td>
        <td><a href="/tree?id=102">Mexican Fan Palm</a></td>
        <td><a href="/tree?id=112">Ponytail Palm</a></td>
      </tr> -->
    </table>
  </div>

  <div class="w3-container w3-red">

  </div>

  <div class="footer">
    <ul class="footer-ul">
      <li class="footer-li"><a href="/info/locations.html">Locations</a></li>
      <li class="footer-li"><a href="/info/treeinformation.html">Tree Information</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-li"><a class="footer-a" href="/info/contact.html">Contact Info</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-li"><a class="footer-a" href="/info/delivery.html">Delivery</a></li>
    </ul>
    <ul class="footer-ul">
      <li class="footer-li"><a class="footer-a" href="/info/about.html">About</a></li>
    </ul>
  </div>

</body>

</html>
