


td {
  font-family: Verdana;
  font-size: 15px;
  text-align: center;
  align: center;
  width: 283px;
  height: 300px;
}

tr {

}

a {

}

body {
  background-color: #f0ece6;
}

.w3-container {
  padding:0.01em 16px;
  font-family: Verdana;
  font-size:15px;
  line-height:1.5;
  width: 868px;
  margin: auto;
}

.w3-red {
  color: #fff;
  background-color: #7bd75a;

}

.treeImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

ul {
  list-style-type: none;
  font-family: Verdana;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 900px;
  margin: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.footer {

  width: 900px;
  height: auto;
  margin: auto;

}

.footer-ul {
  list-style-type: none;
  font-family: Verdana;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-li {
  float: left;
}

.footer-li a {
  font-size: 9px;
  display: block;
  color: white;
  text-align: center;
  margin-right: 150px;
  padding: 6px 14px;
  text-decoration: none;
}

.footer-a:hover {

}

.tree-header {
  padding:0.01em 16px;
}

.tree-footer {
  padding:0.01em 16px;
}

.tree-body {
  padding:0.01em 16px;
}

/*

drop downbox



ul li ul li {
  list-style-type: none;
  font-family: Verdana;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li ul li:hover {
  background: #111;
}

ul li {
  display: inline-block;
}

ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  width: 150px;
  display: none;
}

*/
